In [3]:
import numpy as np
import pandas as pd
import sklearn
import keras

Using Theano backend.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [6]:
# Import uci pima indian diabetes dataset

# As our data set as no column names so we are defining the names so that we could explore our dataset
names = ['n_pregant','glucose_concentration','blood_pressure (mm HG)','skin_thickness (mm)',
         'serum_insulin (mu U/ml)','BMI','pedigree_function','age','class']
data_frame_diabetes = pd.read_csv('diabetes.csv')

In [10]:
columns = data_frame_diabetes.columns
columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [12]:
data_frame_diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
data_frame_diabetes[data_frame_diabetes['Glucose'] == 0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
75,1,0,48,20,0,24.7,0.140,22,0
182,1,0,74,20,23,27.7,0.299,21,0
342,1,0,68,35,0,32.0,0.389,22,0
349,5,0,80,32,0,41.0,0.346,37,1
502,6,0,68,41,0,39.0,0.727,41,1

In [14]:
columns_with_null_values = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI']
for col in columns_with_null_values:
    data_frame_diabetes[col].replace(0, np.NaN,inplace = True)
data_frame_diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [15]:
# Drop the rows that has missing values
data_frame_diabetes.dropna(inplace=True)
data_frame_diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
# Convert the dataframe to numpy array
dataset = data_frame_diabetes.values
dataset.shape

(392, 9)

In [23]:
# split into input x and output y
X = dataset[:,0:8]
Y = dataset[:,8].astype(int)

In [25]:
print(X.shape)
print(Y.shape)
print(Y[:5])

(392, 8)
(392,)
[0 1 1 1 1]

In [26]:
# Normalize all the values because some values are too much larger then others
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)
# Transform and display the trainging data
X_standardized = scaler.transform(X)
data  = pd.DataFrame(X_standardized)
data.describe()

,0,1,2,3,4,5,6,7
count,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02
mean,-9.063045e-18,1.132881e-17,-4.531523e-16,1.087565e-16,1.064908e-16,1.631348e-16,1.812609e-17,1.110223e-16
std,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00
min,-1.029213e+00,-2.161731e+00,-3.739001e+00,-2.108484e+00,-1.196867e+00,-2.120941e+00,-1.269525e+00,-9.682991e-01
25%,-7.174265e-01,-7.665958e-01,-6.941640e-01,-7.755315e-01,-6.681786e-01,-6.676780e-01,-7.340909e-01,-7.719850e-01
50%,-4.056403e-01,-1.176959e-01,-5.314565e-02,-1.384444e-02,-2.574448e-01,1.621036e-02,-2.131475e-01,-3.793569e-01
75%,5.297185e-01,6.609841e-01,5.878727e-01,7.478426e-01,2.859877e-01,5.718696e-01,4.751644e-01,5.040564e-01
max,4.271153e+00,2.445459e+00,3.151946e+00,3.223325e+00,5.812990e+00,4.846172e+00,5.497667e+00,4.921123e+00

In [32]:
from sklearn.model_selection import GridSearchCV, KFold
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import Adam

data.describe()

,0,1,2,3,4,5,6,7
count,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02
mean,-9.063045e-18,1.132881e-17,-4.531523e-16,1.087565e-16,1.064908e-16,1.631348e-16,1.812609e-17,1.110223e-16
std,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00
min,-1.029213e+00,-2.161731e+00,-3.739001e+00,-2.108484e+00,-1.196867e+00,-2.120941e+00,-1.269525e+00,-9.682991e-01
25%,-7.174265e-01,-7.665958e-01,-6.941640e-01,-7.755315e-01,-6.681786e-01,-6.676780e-01,-7.340909e-01,-7.719850e-01
50%,-4.056403e-01,-1.176959e-01,-5.314565e-02,-1.384444e-02,-2.574448e-01,1.621036e-02,-2.131475e-01,-3.793569e-01
75%,5.297185e-01,6.609841e-01,5.878727e-01,7.478426e-01,2.859877e-01,5.718696e-01,4.751644e-01,5.040564e-01
max,4.271153e+00,2.445459e+00,3.151946e+00,3.223325e+00,5.812990e+00,4.846172e+00,5.497667e+00,4.921123e+00

In [30]:
# defining the model
def create_model():
    #create model
    model = Sequential()
    # hidden layers
    model.add(Dense(8, input_dim = 8, kernel_initializer='normal',activation = 'relu'))
    model.add(Dense(4, input_dim = 8, kernel_initializer='normal',activation='relu'))
    # output layer
    model.add(Dense(1, activation='sigmoid'))
    #compile the model
    adam = Adam(lr = 0.01)
    model.compile(loss = 'binary_crossentropy', optimizer = adam, metrics = ['accuracy'])
    return model
model = create_model()
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_5 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 5
=================================================================
Total params: 113
Trainable params: 113
Non-trainable params: 0
_________________________________________________________________
None

In [35]:
seed = 6
np.random.seed(seed)
def create_model():
    #create model
    model = Sequential()
    # hidden layers
    model.add(Dense(8, input_dim = 8, kernel_initializer='normal',activation = 'relu'))
    model.add(Dense(4, input_dim = 8, kernel_initializer='normal',activation='relu'))
    # output layer
    model.add(Dense(1, activation='sigmoid'))
    #compile the model
    adam = Adam(lr = 0.01)
    model.compile(loss = 'binary_crossentropy', optimizer = adam, metrics = ['accuracy'])
    return model
# Create the model
keras_classifier = KerasClassifier(build_fn=create_model, verbose = 0)

# Define the grid search parameter
batch_size = [10, 20, 40]
epochs = [10, 50, 100]

# Make a dict
param_grid = dict(batch_size = batch_size, epochs = epochs)

# Build and fit the grid search 
grid = GridSearchCV(estimator = keras_classifier, param_grid = param_grid, cv = KFold(random_state=seed), verbose = 10)

grid_result = grid.fit(X_standardized, Y)

# Summarize the results 
print('Best : {0}, using {1} '.format(grid_result.best_score_, grid_result.best_params_))

means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']

for mean, std, param in zip(means, stds, params):
    print(' {0} , {1}, {2} '.format(mean, std, param))

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] batch_size=10, epochs=10 ........................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ............ batch_size=10, epochs=10, score=0.725, total=   0.9s
[CV] batch_size=10, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s

[CV] ............ batch_size=10, epochs=10, score=0.771, total=   1.8s
[CV] batch_size=10, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.8s remaining:    0.0s

[CV] ............ batch_size=10, epochs=10, score=0.823, total=   0.9s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    3.7s remaining:    0.0s

[CV] ............ batch_size=10, epochs=50, score=0.733, total=   1.2s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    4.9s remaining:    0.0s

[CV] ............ batch_size=10, epochs=50, score=0.779, total=   1.5s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    6.4s remaining:    0.0s

[CV] ............ batch_size=10, epochs=50, score=0.846, total=   1.2s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    7.6s remaining:    0.0s

[CV] ........... batch_size=10, epochs=100, score=0.718, total=   1.6s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    9.2s remaining:    0.0s

[CV] ........... batch_size=10, epochs=100, score=0.725, total=   1.8s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   11.0s remaining:    0.0s

[CV] ........... batch_size=10, epochs=100, score=0.823, total=   2.8s
[CV] batch_size=20, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   13.8s remaining:    0.0s

[CV] ............ batch_size=20, epochs=10, score=0.756, total=   1.0s
[CV] batch_size=20, epochs=10 ........................................
[CV] ............ batch_size=20, epochs=10, score=0.763, total=   1.0s
[CV] batch_size=20, epochs=10 ........................................
[CV] ............ batch_size=20, epochs=10, score=0.838, total=   1.0s
[CV] batch_size=20, epochs=50 ........................................
[CV] ............ batch_size=20, epochs=50, score=0.702, total=   1.2s
[CV] batch_size=20, epochs=50 ........................................
[CV] ............ batch_size=20, epochs=50, score=0.771, total=   1.1s
[CV] batch_size=20, epochs=50 ........................................
[CV] ............ batch_size=20, epochs=50, score=0.808, total=   2.1s
[CV] batch_size=20, epochs=100 .......................................
[CV] ........... batch_size=20, epochs=100, score=0.756, total=   1.2s
[CV] batch_size=20, epochs=100 .......................................
[CV] ........... batch_size=20, epochs=100, score=0.779, total=   1.3s
[CV] batch_size=20, epochs=100 .......................................
[CV] ........... batch_size=20, epochs=100, score=0.792, total=   1.3s
[CV] batch_size=40, epochs=10 ........................................
[CV] ............ batch_size=40, epochs=10, score=0.718, total=   0.9s
[CV] batch_size=40, epochs=10 ........................................
[CV] ............ batch_size=40, epochs=10, score=0.763, total=   0.9s
[CV] batch_size=40, epochs=10 ........................................
[CV] ............ batch_size=40, epochs=10, score=0.700, total=   1.0s
[CV] batch_size=40, epochs=50 ........................................
[CV] ............ batch_size=40, epochs=50, score=0.702, total=   2.3s
[CV] batch_size=40, epochs=50 ........................................
[CV] ............ batch_size=40, epochs=50, score=0.779, total=   0.9s
[CV] batch_size=40, epochs=50 ........................................
[CV] ............ batch_size=40, epochs=50, score=0.846, total=   0.9s
[CV] batch_size=40, epochs=100 .......................................
[CV] ........... batch_size=40, epochs=100, score=0.702, total=   1.0s
[CV] batch_size=40, epochs=100 .......................................
[CV] ........... batch_size=40, epochs=100, score=0.756, total=   1.0s
[CV] batch_size=40, epochs=100 .......................................
[CV] ........... batch_size=40, epochs=100, score=0.831, total=   1.0s

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:   35.0s finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Best : 0.7857142917963923, using {'batch_size': 20, 'epochs': 10}
 0.7729591812406268 , 0.03996033894334982, {'batch_size': 10, 'epochs': 10}
 0.7857142817609164 , 0.046508596950667946, {'batch_size': 10, 'epochs': 50}
 0.7551020386875892 , 0.04798325747422201, {'batch_size': 10, 'epochs': 100}
 0.7857142917963923 , 0.0372861071952023, {'batch_size': 20, 'epochs': 10}
 0.7602040869544964 , 0.043676457630137215, {'batch_size': 20, 'epochs': 50}
 0.7755102061343436 , 0.015087460434070294, {'batch_size': 20, 'epochs': 100}
 0.7270408113087926 , 0.02670831713062866, {'batch_size': 40, 'epochs': 10}
 0.7755102054501066 , 0.058735728787621615, {'batch_size': 40, 'epochs': 50}
 0.7627551079708703 , 0.05265361568814188, {'batch_size': 40, 'epochs': 100}